.panel {
  margin: 0;
  .header {
    background: $color-shadow;
    height: 48px;
    padding: 1.5rem 1.25rem !important;
    background: #1a2430;
    border-bottom: 2px solid #0f1821;

    h4 {
      margin: 0;
      text-transform: uppercase;
      font-family: Barlow;
      font-size: var(--font-12);
      //font-size: 12px;
      //font-size: clamp(12px, calc(0.75rem + ((1vw - 10.24px) * 0.3551)), 22px);
      // font-size: clamp(12px, calc(0.75rem + ((1vw - 10.24px) * 0.4261)), 24px);

      line-height: 1rem;
      letter-spacing: 1px;
      font-weight: 700;
    }

    .content {
      background-color: $color-halliburton-red;
    }
  }

  // random from views during cleanup, all scoped under
  // panel as could be shared...

  .items-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .width-90 {
    width: 90%;
  }
}

